*Thumbs.db
*.log
*.tlog
*.pdb
*.idb
*.vcxproj.user
*.vcxproj.filters
*.suo
*.sdf
*.opensdf
*.cu.deps
windows/src
windows/Octree-SLAM/Debug
windows/Octree-SLAM/Release
windows/Octree-SLAM/Octree-SLAM/Debug
windows/Octree-SLAM/Octree-SLAM/Release
build
